/Library
/Assembly-CSharp.csproj
/Assembly-CSharp-vs.csproj
/unity3d_testbed.sln
/unity3d_testbed.userprefs
/unity3d_testbed-csharp.sln
/Assembly-CSharp-Editor.csproj
/Temp
/Assembly-UnityScript.unityproj
/unity3d_testbed.CSharp.Editor.csproj
/unity3d_testbed.CSharp.csproj
/unity3d_testbed.v12.suo
